<div class="container" style="padding: 2em">
  <div *ngIf="deck">
    <h2>{{deck.name}}
      <div style="float: right">
        <button class="btn btn-secondary"
                (click)="editCard(dueCards[currentCard].id)">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <button class="btn btn-secondary"
                (click)="deleteCard(dueCards[currentCard].id)">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </h2> 

    <div class="container" 
         style="text-align: center; 
         border: solid 2px black;
         border-radius: 10px;
         padding: 2em">

      <h4>{{dueCards[currentCard].front}}</h4>

      <button class="btn btn-primary" 
              *ngIf="answerHidden; else answerVisible"
              id="show-answer-btn"
              (click)="showAnswer()">Show answer</button>

      <ng-template #answerVisible>
        <hr>
        <h4>{{dueCards[currentCard].back}}</h4>
        <div class="btn-group" style="padding: 1em">
          <button class="btn btn-danger"
                  title="Complete blackout"
                  (click)="review(0)">Again</button>
          <button class="btn btn-warning"
                  title="Incorrect response; the correct one remembered"
                  (click)="review(1)">Very<br>Hard</button>
          <button class="btn btn-secondary"
                  title="Incorrect response; where the correct one seemed easy to recall"
                  (click)="review(2)">Hard</button>
          <button class="btn btn-success"
                  title="Correct response recalled with serious difficulty"
                  (click)="review(3)">Good</button>
          <button class="btn btn-info"
                  title="Correct response after hesitation"
                  (click)="review(4)">Easy</button>
          <button class="btn btn-primary"
                  title="Perfect response"
                  (click)="review(5)">Very<br>Easy</button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
