<div class="container" style="padding: 2em">
  <div *ngIf="reviews && cards && decks">
    <h2>Statistics</h2> 
    <div style="padding: 2em">
      <h5>
        Number of cards in all decks: {{cards.length}}
      </h5>
      <h5>
        Overall number of reviews: {{reviews.length}}
      </h5>
    </div>

    <div style="padding: 2em">
      <h4 style="text-align:center">Cards per deck</h4>
      <canvas baseChart
          [datasets]="cardsPerDeckChartData"
          [labels]="cardsPerDeckChartLabels"
          [options]="cardsPerDeckChartOptions"
          [colors]="cardsPerDeckChartColors"
          [legend]="cardsPerDeckChartLegend"
          [chartType]="cardsPerDeckChartType"></canvas>
    </div>

    <div style="padding: 2em">
      <h4 style="text-align:center">Answers by quality</h4>
      <canvas baseChart
          [datasets]="answersByQualityChartData"
          [labels]="answersByQualityChartLabels"
          [options]="answersByQualityChartOptions"
          [colors]="answersByQualityChartColors"
          [legend]="answersByQualityChartLegend"
          [chartType]="answersByQualityChartType"></canvas>
    </div>

    <div style="padding: 2em">
      <h4 style="text-align:center">Reviews this week</h4>
      <canvas baseChart
          [datasets]="reviewsThisWeekChartData"
          [labels]="reviewsThisWeekChartLabels"
          [options]="reviewsThisWeekChartOptions"
          [colors]="reviewsThisWeekChartColors"
          [legend]="reviewsThisWeekChartLegend"
          [chartType]="reviewsThisWeekChartType"></canvas>
    </div>
  </div>
</div>
